body {
  background-color: #6B6054;
}

.welc {
  text-align: center;
  color: #D5ECD4;
}

.star {
  text-align: center;
  color: #929487;
}

.L2 {
  color: #C3DAC3;
  text-align: center;
}

.list {
  color: #D5ECD4;
}
